# miscellaneous
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.git
ehthumbs.db
Thumbs.db
logs
*.log
npm-debug.log*

# environment, secrets
.env

# dependencies
node_modules
vendor
reference

# binaries
build
dist

